<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.cta_elevator_alerts"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!--add back into application below-->
    <!--android:theme="@style/AppTheme"-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:fullBackupContent="true">
        <uses-library android:name="android.test.runner"
            android:required="false"/>

        <activity android:name=".activities.SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>
        <activity
            android:name=".activities.SpecificLineActivity"
            android:label="@string/title_activity_specific_line"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.AllLinesActivity"
            android:label="@string/title_activity_all_lines"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddFavoriteActivity"
            android:label="@string/title_activity_add_favorite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DisplayAlertActivity"
            android:parentActivityName=".activities.MainActivity"
            android:label="@string/title_activity_display_alert"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="CTA Elevator Alerts"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>